MAP

In [6]:
nums = [1,2,3,4,5]

squared_lst = []
for i in nums:
    squared_lst.append(i**2)

In [8]:
squared_map = list(map(lambda x: x ** 2, nums))
squared_map

[1, 4, 9, 16, 25]

Def Function

In [10]:
def square_numbers(nums):
    squared_list = []
    for i in nums:
        squared_list.append(i ** 2)

    return squared_list

nums = [1,2,3,4,5]
result = square_numbers(nums)
print(result)

[1, 4, 9, 16, 25]

In [11]:
squared_lst

[1, 4, 9, 16, 25]

In [12]:
prices_dollar = [10.99, 25.50, 36.89, 167.00]
exch_rate = 83.50

price_lst = []
for i in prices_dollar:
    price_lst.append(i * exch_rate)

In [13]:
price_lst

[917.665, 2129.25, 3080.315, 13944.5]

In [15]:
price_map = list(map(lambda x: x * exch_rate, prices_dollar))

In [16]:
price_map

[917.665, 2129.25, 3080.315, 13944.5]

Def Function

In [35]:
def my_function():
    prices_dollar = [10.99, 25.50, 36.89, 167.00]
    exch_rate = 83.50
    price_lst = []

    for price in prices_dollar:
        price_lst.append(price * exch_rate)

    return price_lst

print(my_function())

[917.665, 2129.25, 3080.315, 13944.5]

Filter

In [36]:
nums = [1,2,3,4,5,6,7,8.9,10]

even_lst = []
for i in nums:
    if i % 2 == 0:
        even_lst.append(i)

In [37]:
even_lst

[2, 4, 6, 10]

In [41]:
evens_filter = list(filter(lambda x : x % 2 == 0, nums))

In [40]:
evens_filter

[2, 4, 6, 10]

Def Function

In [44]:
def even_numbers():
    nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    even_lst = []
    for i in nums:
        if i % 2 == 0:
            even_lst.append(i)
    return even_lst

print(even_numbers())

[2, 4, 6, 8, 10]

In [42]:
products = [
    {"name":"laptop", "price":45000},
    {"name":"iphone", "price": 30000},
    {"name":"desktop", "price": 9900},
    {"name": "imac", "price":8900}
]


budget = 10000

filter_prods = list(filter(lambda x: x['price'] <= 10000, products))

In [43]:
filter_prods

[{'name': 'desktop', 'price': 9900}, {'name': 'imac', 'price': 8900}]

In [45]:
normal_prod = []

for i in products:
  if i['price'] <= budget:
    normal_prod.append(i)

In [46]:
normal_prod

[{'name': 'desktop', 'price': 9900}, {'name': 'imac', 'price': 8900}]

Def Function

In [48]:
def products_budget():
    products = [
        {"name": "laptop", "price": 45000},
        {"name": "iphone", "price": 30000},
        {"name": "desktop", "price": 9900},
        {"name": "imac", "price": 8900}
    ]

    budget = 10000
    normal_prod = []

    for product in products:
        if product["price"] <= budget:
            normal_prod.append(product)

    return normal_prod

print(products_budget())

[{'name': 'desktop', 'price': 9900}, {'name': 'imac', 'price': 8900}]

Reduce

In [53]:
from functools import reduce

In [49]:
nums = [1,2,3,4,5,6]

total_nums = 0
for i in nums:
  total_nums += i

In [50]:
total_nums

21

In [54]:
total_reduce = reduce(lambda x, y: x+y,nums)

In [55]:
total_reduce

21

Reduce and Filter

In [59]:
from functools import reduce

students = [
    {"name": "hanvika", "scores": [85, 90, 79]},
    {"name": "shreshta", "scores": [88, 92, 89]},
    {"name": "shanvi", "scores": [79, 78, 80]},
    {"name": "shiva", "scores": [90, 81, 88]},
]

filtered_students = list(
    filter(
        lambda s: sum(s["scores"]) / len(s["scores"]) > 80,
        students
    )
)

total_average = reduce(
    lambda total, s: total + sum(s["scores"]) / len(s["scores"]),
    filtered_students,
    0
    
)

print(total_average)

260.6666666666667